<!DOCTYPE html>
<html>
<head>
    <title>BIONS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>Device Details Gathering</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post" role="form" id="form">
                <input class="text" id="device_id" type="text" name="device_id" placeholder="Device ID" required="">
                <input class="text" id="room_no" type="text" name="room_no" placeholder="Room No" required="">
                <input type="button" value="SAVE LOG RUN" id="start_button" class="btnSubmit">
                <input type="button" value="SAVE LOG STOP" id="stop_button" class="btnSubmit">
            </form>
            <div class="wthree-text">
                <label class="anim">
                    <span id="hint">...</span>
                </label>
            </div>
            <br>
            <p>Download Log file <a target="_blank" href="/getBionsLogFile"> Download Now!</a></p>

        </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© 2018 BIONS Logger Colletion app | Design by <a href="https://bions.lk/" target="_blank">J.R.Algewatta</a>
        </p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!-- //main -->
<script>
let gatherInformation = true;
let keyToStop = false;
let gatherinfomationInt;

$("#stop_button").click( function(){
        if(gatherInformation){
            gatherInformation = false;
        }
        clearInterval(gatherinfomationInt);
    }
   );

$("#start_button").click( function(){
                 var device_id = $('#device_id').val();
                 var room_no = $('#room_no').val();
                 if(device_id != '' && room_no != ''){

                    gatherinfomationInt = setInterval(function(){
                    if(!gatherInformation){
                        gatherInformation = true;
                    }
                    console.log('start timer');
                    console.log(gatherInformation)
                    if(gatherInformation){

                        ts = (new Date()).getTime()
                        var data = $('form').serializeArray();
                        data.push({name: 'ts', value: ts});
                        console.log(data)
                        $.ajax({
                            url: '/saveLogDetails',
                            data: data,
                            type: 'POST',
                            success: function(response) {
                                console.log(response);
                                $("#hint").text("Successfully Saved");
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });


                    }
                 }, 3000);

                 }else{
                    $("#hint").text("Fill the form");
                 }

           }
        );

function downloadLog(){
    $.ajax({
        url: '/downloadLogFile',
        type: 'GET',
        success: function(response) {
            console.log(response);
            $("#hint").text("Downloaded");
        },
        error: function(error) {
            console.log(error);
        }
    });
}

$("form").submit(function(e){
    e.preventDefault();
    ts = (new Date()).getTime()
    var data = $('form').serializeArray();
    data.push({name: 'ts', value: ts});
    console.log(data)
    $.ajax({
        url: '/saveLogDetails',
        data: data,
        type: 'POST',
        success: function(response) {
            console.log(response);
            $("#hint").text("Successfully Saved");
        },
        error: function(error) {
            console.log(error);
        }
    });
});

</script>
</body>
</html>